:root {
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue:#1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --warm-black-1: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --white: #FFFFFF;
    --linear-bg: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

header {
    height: 295px;
    width: 100%;
    min-width: 320px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

.header__top-image {
    width: 129px;
    height: 25px;
    margin-top: 40px;
}

.header__title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 30px;
    text-align: center;
}

.header__title {
    color: var(--white);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
}

.header__p {
    margin-top: 25px;
    color: var(--soft-orange);
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
}

.header__button {
    position: absolute;
    bottom: -24px;
    text-align: center;
    width: 229px;
    height: 48px;
    padding: 15px;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.8rem;
    color: var(--warm-black);
    text-decoration: none;
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px 0px #59491E;
}

.header__button-icon {
    margin-left: 14px;
}