:root {
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue:#1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --warm-black-1: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --white: #FFFFFF;
    --linear-bg: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

header {
    height: 295px;
    width: 100%;
    min-width: 320px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

.header__top-image {
    width: 129px;
    height: 25px;
    margin-top: 40px;
}

.header__title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 30px;
    text-align: center;
}

.header__title {
    color: var(--white);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
}

.header__p {
    margin-top: 25px;
    color: var(--soft-orange);
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
}

.header__button {
    position: absolute;
    bottom: -24px;
    text-align: center;
    width: 229px;
    height: 48px;
    padding: 15px;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.8rem;
    color: var(--warm-black);
    text-decoration: none;
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px 0px #59491E;
}

.header__button-icon {
    margin-left: 14px;
}

main {
    width: 100%;
    height: auto;
}
/* exchange-section */
.exchange-section {
    width: 100%;
    height: auto;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--off-white);
}

.exchange-section__top-img {
    height: 195px;
    width: 195px;
    margin: 20px 0px;
}

.exchange-section__title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 20px 0px;
}

.exchange-section__title {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--warm-black);
}

.exchange-section__p {
    text-align: center;
    margin-top: 24px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}
/* data information */
.exchange-section__data-container {
    display: flex;
    flex-direction: column;
    min-width: 235px;
    max-width: 500px;
    width: 90%;
    justify-content: center;
    align-items: center;
}

.exchange-section__table-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 202px;
    max-width: 500px;
}

.exchange-section__table-title {
    margin-left: 12px;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.35rem;
    color: #ff9536;
}

.exchange-section__table-title--color {
    color: var(--secondary-blue);
}

.exchange-section__table-data {
    width: 100%;
    font-family: 'Inter', sans-serif;
    margin-top: 12px;
}

.exchange-section__table-data--top-left {
    border-top-left-radius: 8px;
}
.exchange-section__table-data--top-right {
    border-top-right-radius: 8px;
}
.exchange-section__table-data--bottom-left {
    border-bottom-left-radius: 8px;
}
.exchange-section__table-data--bottom-right {
    border-bottom-right-radius: 8px;
}

.exchange-section__table-data--first-column {
    padding: 10px 12px;
    color: #B5B0AC;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    background-color: var(--white);
}

.exchange-section__table-data--second-column {
    padding: 11px 0px 11px 12px;
    color: #757575;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7rem;
    background-color: var(--white);
}

.exchange-section__table-data--img {
    padding-left: 10px;
}

.exchange-section__table-data--no-img {
    display: none;
}

.exchange-section__table-p {
    align-self: center;
    text-align: center;
    min-width: 220px;
    max-width: 250px;
    margin: 20px 0px;
    padding: 8px;
    font-family: 'Inter', sans-serif;
    background-color: var(--soft-orange);
    border-radius: 8px;
    font-size: 1.4rem;
}

.exchange-section__table-p--background-color {
    background-color: var(--soft-blue);
}

.exchange-section__table-pb {
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
}

.exchange-section__left-nav {
    padding-right: 22px;
}

.exchange-section__right-nav {
    padding-left: 22px;
}

.exchange-section__bottom-img {
    position: relative;
    bottom: -15px;
}